USE [master]
GO
/****** Object:  Database [SearchEngineDB]    Script Date: 2/21/2025 4:25:04 PM ******/
CREATE DATABASE SearchEngineDB;
GO
USE SearchEngineDB;
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SearchEngineDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SearchEngineDB]
GO
/****** Object:  FullTextCatalog [Search]    Script Date: 2/21/2025 4:25:04 PM ******/
CREATE FULLTEXT CATALOG [Search] 
GO
/****** Object:  FullTextCatalog [SearchCatalog]    Script Date: 2/21/2025 4:25:04 PM ******/
CREATE FULLTEXT CATALOG [SearchCatalog] AS DEFAULT
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchHistory]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Query] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[SearchCount] [int] NULL,
 CONSTRAINT [PK_SearchHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchIndex]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[SearchCount] [int] NULL,
 CONSTRAINT [PK_SearchIndex_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SearchKeywords]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchKeywords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](255) NOT NULL,
	[SearchCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250122102459_MigrationName', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[SearchHistory] ON 

INSERT [dbo].[SearchHistory] ([Id], [Query], [Timestamp], [SearchCount]) VALUES (1, N'Srianshi Srivastava', CAST(N'2025-02-05T09:23:13.5851631' AS DateTime2), 0)
INSERT [dbo].[SearchHistory] ([Id], [Query], [Timestamp], [SearchCount]) VALUES (2, N'ff', CAST(N'2025-01-22T11:17:57.1465218' AS DateTime2), 0)
INSERT [dbo].[SearchHistory] ([Id], [Query], [Timestamp], [SearchCount]) VALUES (3, N'buy home', CAST(N'2025-01-22T11:41:34.6408280' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[SearchHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[SearchIndex] ON 

INSERT [dbo].[SearchIndex] ([Id], [Title], [SearchCount]) VALUES (1, N'Introduction to JavaScript', 0)
INSERT [dbo].[SearchIndex] ([Id], [Title], [SearchCount]) VALUES (2, N'Mastering C# Basics', 0)
INSERT [dbo].[SearchIndex] ([Id], [Title], [SearchCount]) VALUES (3, N'AI in Everyday Life', 0)
SET IDENTITY_INSERT [dbo].[SearchIndex] OFF
GO
SET IDENTITY_INSERT [dbo].[SearchKeywords] ON 

INSERT [dbo].[SearchKeywords] ([Id], [Keyword], [SearchCount]) VALUES (1, N'Lunar Colonization', 0)
INSERT [dbo].[SearchKeywords] ([Id], [Keyword], [SearchCount]) VALUES (2, N'Biohacking Trends', 0)
INSERT [dbo].[SearchKeywords] ([Id], [Keyword], [SearchCount]) VALUES (3, N'Retro Gaming Consoles', 0)
SET IDENTITY_INSERT [dbo].[SearchKeywords] OFF
GO
ALTER TABLE [dbo].[SearchHistory] ADD  CONSTRAINT [DF_Timestamp]  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[SearchHistory] ADD  DEFAULT ((0)) FOR [SearchCount]
GO
ALTER TABLE [dbo].[SearchIndex] ADD  DEFAULT ((0)) FOR [SearchCount]
GO
ALTER TABLE [dbo].[SearchKeywords] ADD  DEFAULT ((0)) FOR [SearchCount]
GO
/****** Object:  StoredProcedure [dbo].[GetPaginatedSearchResults]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetPaginatedSearchResults]
    @Query NVARCHAR(255),
    @PageSize INT,
    @Offset INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Fetch total count separately
    SELECT COUNT(*) AS TotalRecords
    FROM (
        SELECT Id FROM dbo.SearchIndex WHERE Title LIKE @Query + '%'
        UNION
        SELECT Id FROM dbo.SearchKeywords WHERE Keyword LIKE @Query + '%'
    ) AS CountData;

    -- Fetch paginated results
    ;WITH CombinedResults AS (
        SELECT 
            Id, 
            Title,
            NULL AS Keywords
        FROM dbo.SearchIndex
        WHERE Title LIKE @Query + '%'

        UNION ALL  

        SELECT 
            Id, 
            NULL AS Title,  
            STRING_AGG(Keyword, ' ') AS Keywords
        FROM dbo.SearchKeywords
        WHERE Keyword LIKE @Query + '%'
        GROUP BY Id
    )
    
    SELECT 
        Id, 
        COALESCE(Title, '') AS Title, 
        COALESCE(Keywords, '') AS Keywords
    FROM CombinedResults
    ORDER BY Id  
    OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;  
END;

GO
/****** Object:  StoredProcedure [dbo].[GetSearchResults]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSearchResults]
    @Query NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;


    -- ✅ Update Search Count in SearchIndex (Only if the query matches an existing Title)
    IF EXISTS (SELECT 1 FROM SearchIndex WHERE Title = @Query)
    BEGIN
        UPDATE SearchIndex
        SET SearchCount = SearchCount + 1
        WHERE Title = @Query;
    END
    -- ❌ REMOVE THE ELSE INSERT STATEMENT - IT WAS CREATING UNWANTED ENTRIES

    -- ✅ Update Search Count in SearchKeywords (Only if the query matches an existing Keyword)
    IF EXISTS (SELECT 1 FROM SearchKeywords WHERE Keyword = @Query)
    BEGIN
        UPDATE SearchKeywords
        SET SearchCount = SearchCount + 1
        WHERE Keyword = @Query;
    END
    -- ❌ REMOVE THE ELSE INSERT STATEMENT - IT WAS CREATING UNWANTED ENTRIES

    -- Fetch search results
    ;WITH SearchResults AS (
        
        -- Fetch from SearchIndex
        SELECT 
            Title AS Text,
            SearchCount,
            CAST(0 AS BIT) AS IsHistory
        FROM SearchIndex
        WHERE Title LIKE @Query + '%'

        UNION

        -- Fetch from SearchKeywords
        SELECT 
            Keyword AS Text,
            SearchCount,
            CAST(0 AS BIT) AS IsHistory
        FROM SearchKeywords
        WHERE Keyword LIKE @Query + '%'
    )
    
    -- Apply GroupBy and Ordering
    SELECT 
        Text,
        IsHistory,
        COALESCE(SearchCount, 0) AS SearchCount
    FROM (
        SELECT 
            Text,
            IsHistory,
            SearchCount,
            ROW_NUMBER() OVER (PARTITION BY LOWER(Text) ORDER BY IsHistory DESC, SearchCount DESC) AS rn
        FROM SearchResults
    ) AS RankedResults
    WHERE rn = 1
    ORDER BY IsHistory DESC, SearchCount DESC;

END;
GO
/****** Object:  StoredProcedure [dbo].[GetSearchSuggestions]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSearchSuggestions]
    @Query NVARCHAR(255)
AS
BEGIN
    ;WITH Suggestions AS (
        -- Fetch suggestions from SearchHistory
        SELECT 
            Query AS Text,
            CAST(1 AS BIT) AS IsHistory
        FROM 
            SearchHistory
        WHERE 
            Query LIKE @Query + '%' -- Match whole phrase (single word search)
        OR 
            Query LIKE '% ' + @Query + '%' -- Match if any word starts with @Query

        UNION

        -- Fetch suggestions from SearchIndexs (matching Title)
        SELECT 
            Title AS Text,
            CAST(0 AS BIT) AS IsHistory
        FROM 
            SearchIndex
        WHERE 
            Title LIKE @Query + '%' 
        OR 
            Title LIKE '% ' + @Query + '%'

        UNION

        -- Fetch suggestions from SearchKeywords
        SELECT 
            Keyword AS Text,
            CAST(0 AS BIT) AS IsHistory
        FROM 
            SearchKeywords
        WHERE 
            Keyword LIKE @Query + '%' 
        OR 
            Keyword LIKE '% ' + @Query + '%'
    )
    
    -- Apply GroupBy and Ordering
    SELECT 
        Text,
        IsHistory
    FROM (
        SELECT 
            Text,
            IsHistory,
            ROW_NUMBER() OVER (PARTITION BY LOWER(Text) ORDER BY IsHistory DESC) AS rn
        FROM Suggestions
    ) AS RankedSuggestions
    WHERE rn = 1
    ORDER BY IsHistory DESC, LEN(Text) ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetSuggestions]    Script Date: 2/21/2025 4:25:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetSuggestions]
    @Query NVARCHAR(255)
AS
BEGIN

    ;WITH Suggestions AS (
        -- Fetch suggestions from SearchHistory
        SELECT 
            Query AS Text,
            CAST(1 AS BIT) AS IsHistory
        FROM 
            SearchHistory
        WHERE 
            Query LIKE CASE 
                         WHEN LEN(@Query) < 3 THEN @Query + '%' 
                         ELSE '%' + @Query + '%' 
                      END

        UNION

        -- Fetch suggestions from SearchIndex (matching Title)
        SELECT 
            Title AS Text,
            CAST(0 AS BIT) AS IsHistory
        FROM 
            SearchIndex
        WHERE 
            Title LIKE CASE 
                         WHEN LEN(@Query) < 3 THEN @Query + '%' 
                         ELSE '%' + @Query + '%' 
                      END

        UNION

        -- Fetch suggestions from SearchIndex (matching Keywords)
        SELECT 
            Keyword AS Text,
            CAST(0 AS BIT) AS IsHistory
        FROM 
            SearchKeywords
        WHERE 
            Keyword LIKE CASE 
                         WHEN LEN(@Query) < 3 THEN @Query + '%' 
                         ELSE '%' + @Query + '%' 
                      END
    )
    
    -- Apply GroupBy, Ordering, and Limit to Top 10
    SELECT TOP 10
        Text,
        IsHistory
    FROM (
        SELECT 
            Text,
            IsHistory,
            ROW_NUMBER() OVER (PARTITION BY LOWER(Text) ORDER BY IsHistory DESC, LEN(Text) ASC) AS rn
        FROM Suggestions
    ) AS RankedSuggestions
    WHERE rn = 1
    ORDER BY IsHistory DESC, LEN(Text) ASC;

END;
GO
USE [master]
GO
